worker_processes auto;

events { }

stream {
    {% for dst in dest_array %}
    server {
        listen {{ local_ports[loop.index0] }};
        proxy_pass {{ dst }};
    }
    server {
        listen {{ local_ports[loop.index0] }} udp;
        proxy_pass {{ dst }};
    }
    {% endfor %}
}

