global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    tune.bufsize 100000
    tune.maxrewrite 32768

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

{% for dst in dest_array %}
frontend my_frontend_{{ loop.index }}
    bind *:{{ local_ports[loop.index0] }}
    default_backend my_backend_{{ loop.index }}

backend my_backend_{{ loop.index }}
    server my_server {{ dst }}

{% endfor %}
